<div id="<%= dom_id comment %>">
 <p>
  <% if comment.anonymous? %>
    <strong>Anónimo: </strong>
  <% else %>
     <strong><%= comment.user.username %>: </strong>
  <% end %>
</p>   
    <%= comment.content %>    

</div>
