<div class="container">
  <h1>Nuevo Comentario</h1>

  <%= render "form", comment: @comment %>

  <br>

 <div class="container mt-3 text-center">  
  <%= link_to "Volver a la publicación", publication_path(@publication) %>
  </div>
</div>