<div class="container">
    <h1>Crear Publicación</h1>
    <%= render "form", note: @publication %>
</div>
    <br>
<div class="container mt-3 text-center">    
    <%= link_to "Volver a Noticias", home_index_path %>  
</div>
